<div class="page-container">
  <div class="blog-overview-container">
    <div class="blog-overview-header">
      <h1 class="text-coloring">FlosRocketBlog</h1>
      <h5 class="text-coloring">Just me rambling about some stuff :)</h5>
    </div>
    <div class="blog-list">
      @for (blog of blogs; track blog.id) {
        <div class="blog-divider"></div>
        <div class="blog-element">
          <a style="text-decoration: none" routerLink="{{getPageBlogLink(blog)}}.">
            <div class="blog-element-header text-coloring">
              <h3>{{ blog.id + 1 }}. {{ blog.title }}</h3>
            </div>
            <div class="blog-element-description text-coloring">
              <p class="m-0">{{ blog.shortDescription }}</p>
            </div>
          </a>
        </div>
      }
    </div>
  </div>
</div>
