.blog-overview-header
  margin-bottom: 2rem
  width: 100%

.blog-overview-container
  max-width: 60rem
  width: 100%
  padding: 2rem

.blog-divider
  border-top: 2px solid var(--inv-interact-color)
  margin-top: 2rem
  margin-bottom: 2rem

.blog-element
  border-radius: 10px
  padding: 1rem
  background-color: var(--bg-color)

.blog-element:hover
  filter: brightness(150%)

.blog-element-description
  margin-left: 2rem

.page-container
  display: flex
  justify-content: center
  width: 100%
  min-height: 500px
