<div class="card" style="background-color: rgba(0,0,0, .2)">
    <a class="m-0 p-0 text-decoration-none text-light" routerLink="{{link}}" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img loading="lazy" src="{{coverPicture}}" class="card-img-top" alt="{{scale}} {{mocName}}">
        <div class="card-body">
            <h5 class="card-title">{{mocName}}</h5>
            <div class="row">
                <div class="col mx-auto"> 
                    <h6 class="card-title text-center rounded bg-dark">1:{{scale}}</h6>
                </div>
                <div class="col mx-auto"> 
                    <h6 class="card-title text-center rounded bg-dark">{{parts}} Parts</h6>
                </div>
            </div>
        </div>
    </a>
</div>