<div class="container text-light">
    <p class="mt-5">
        Howdy! <br>
        I am Florentin (SkySaac), the owner of this website!<br>
        I absolutely love everything spaceflight related and use a lot of my free time to design building block MOCs (My
        Own Creation) of rockets and everything realted to them.
        If you have any questions regarding my MOCs or this website, feel free to contact me via Twitter (@TULDSkySaac)
        or Instagram (flosrocketbricks).
    </p>

    <h4 class="mt-5">FAQ</h4>

    <div class="border border-light rounded-3 mt-3">
        <p class="border-bottom border-light border-opacity-50">
            <button class="btn bg-dark text-light w-100 justify-content-left d-flex" type="button"
                data-bs-toggle="collapse" data-bs-target="#q1" aria-expanded="false" aria-controls="q1">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                    </svg>
                    How do you <strong>design</strong> your MOCs?
                </div>
            </button>
        </p>
        <div class="collapse bg-dark text-light" id="q1">
            <div class="card card-body bg-dark text-light">
                <p>
                    There are many programs to design MOCs with. The most popular ones are Bricklinks Studio, Mecabricks
                    and Lego Digital Designer.<br>
                    I personally use Studio as it has a user friendly user interface and many useful features.
                </p>
            </div>
        </div>
    </div>
    <div class="border border-light rounded-3 mt-3">
        <p class="border-bottom border-light border-opacity-50">
            <button class="btn bg-dark text-light w-100 justify-content-left d-flex" type="button"
                data-bs-toggle="collapse" data-bs-target="#q2" aria-expanded="false" aria-controls="q2">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                    </svg>
                    How do I <strong>order</strong> the parts for one of your MOCs to build it?
                </div>
            </button>
        </p>
        <div class="collapse bg-dark text-light" id="q2">
            <div class="card card-body bg-dark text-light">
                <p>
                    TODO
                </p>
            </div>
        </div>
    </div>
    <div class="border border-light rounded-3 mt-3">
        <p class="border-bottom border-light border-opacity-50">
            <button class="btn bg-dark text-light w-100 justify-content-left d-flex" type="button"
                data-bs-toggle="collapse" data-bs-target="#q3" aria-expanded="false" aria-controls="q3">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                    </svg>
                    What do I do if I have <strong>questions</strong> or ideas for <strong>improvements</strong> for
                    your MOCs?
                </div>
            </button>
        </p>
        <div class="collapse bg-dark" id="q3">
            <div class="card card-body bg-dark text-light">
                <p>
                    Feel free to contact me on Twitter (@TULDSkySaac) or Instagram (@flosrocketbricks). <br>
                    If you have any problems, suggestions or ideas for my existing or for upcoming
                    MOCs :)
                </p>
            </div>
        </div>
    </div>
    <div class="border border-light rounded-3 mt-3">
        <p class="border-bottom border-light border-opacity-50">
            <button class="btn bg-dark text-light w-100 justify-content-left d-flex" type="button"
                data-bs-toggle="collapse" data-bs-target="#q4" aria-expanded="false" aria-controls="q4">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                    </svg>
                    How do I open an <strong>.io file</strong>?
                </div>
            </button>
        </p>
        <div class="collapse bg-dark text-light" id="q4">
            <div class="card card-body bg-dark text-light">
                <p>
                    An .io file is a digital file which you can open using Mecabricks or Bricklinks Studio program. It
                    contains the digital model of the MOC.
                </p>
            </div>
        </div>
    </div>
    <div class="border border-light rounded-3 mt-3">
        <p class="border-bottom border-light border-opacity-50">
            <button class="btn bg-dark text-light w-100 justify-content-left d-flex" type="button"
                data-bs-toggle="collapse" data-bs-target="#q5" aria-expanded="false" aria-controls="q5">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                    </svg>
                    Where do I get <strong>instructions</strong> for your MOCs from?
                </div>
            </button>
        </p>
        <div class="collapse bg-dark text-light" id="q5">
            <div class="card card-body bg-dark text-light">
                <p>
                    If have made instructions for my MOCs I will upload them as PDFs together with the digital io file.
                    If
                    one of
                    my MOCs doesn't have PDF isntructions yet, but you really would like to have them, just contact me
                    and I
                    will make them :)
                </p>
            </div>
        </div>
    </div>
    <div class="border border-light rounded-3 mt-3">
        <p class="border-bottom border-light border-opacity-50">
            <button class="btn bg-dark text-light w-100 justify-content-left d-flex" type="button"
                data-bs-toggle="collapse" data-bs-target="#q6" aria-expanded="false" aria-controls="q6">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                    </svg>
                    How do you <strong>render</strong> your pictures?
                </div>
            </button>
        </p>
        <div class="collapse bg-dark text-light" id="q6">
            <div class="card card-body bg-dark text-light">
                <p>
                    I mostly render the pictures of my MOCs using the inbuild rendering engine in Studio. If I want to
                    have something more complex I export the model from Studio and use Blender.
                </p>
            </div>
        </div>
    </div>
    <div class="border border-light rounded-3 mt-3">
        <p class="border-bottom border-light border-opacity-50">
            <button class="btn bg-dark text-light w-100 justify-content-left d-flex" type="button"
                data-bs-toggle="collapse" data-bs-target="#q7" aria-expanded="false" aria-controls="q7">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                    </svg>
                    How do I get the <strong>parts list</strong> for any of your MOCs?
                </div>
            </button>
        </p>
        <div class="collapse bg-dark text-light" id="q7">
            <div class="card card-body bg-dark text-light">
                <p>
                    To get the parts list for any of my MOCs you have to open the io file using Studio and then either
                    export the model as a WL xml file or use the inbuild Bricklink wishlist import feature (the shopping
                    cart icon on the top right).
                </p>
            </div>
        </div>
    </div>
    <h4 class="mt-5">TODOs for this website:</h4>
    <p>
        - Add a section with pictures of irl built MOCs <br>
        - Add all of the MOCs I made so far <br>
        - Improve the start page <br>
        - Show a disclaimer when I am working on an update for one of the MOCs <br>
        - Search page improvements <br>
        - Show related MOCs on each MOCs page <br>
        - Show the weight of a MOC <br>
        - Optimise this website for mobile use <br>
        - add lower res images for cards <br>
        - allow text copy for cards <br>
        - part amount filter <br>
        - more details in about tab answers
    </p>
</div>