<nav class="navbar navbar-expand-lg" style="background-color: rgba(0,0,0, .2)">
  <div class="container-fluid">
    <a class="col-2 headerLogo p-0 overflow-hidden " routerLink="" routerLinkActive="active"
      ariaCurrentWhenActive="page">
      <img src="../../assets/logo.png" style="width:100%;max-height:100px" class="img-fluid" alt="FlosRocketBricks">
    </a>
    <button class="navbar-toggler" style="background-color: rgba(0,0,0, .2)" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </button>
    <div class="collapse navbar-collapse me-auto mb-2 mb-lg-0 justify-content-center" id="navbarSupportedContent">
      <ul class="col-md-9 navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item w-100">
          <div>
            <a class="nav-link headerLink text-light" routerLink="/search" [queryParams]="{ type:'rocket' }"
              routerLinkActive="active" ariaCurrentWhenActive="page">Rockets</a>
          </div>
        </li>
        <li class="nav-item w-100">
          <div>
            <a class="nav-link headerLink text-light" routerLink="/search" [queryParams]="{ type:'launchpad' }"
              routerLinkActive="active" ariaCurrentWhenActive="page">Launchpads</a>
          </div>
        </li>
        <li class="nav-item w-100">
          <div>
            <a class="nav-link headerLink text-light" routerLink="/search" [queryParams]="{ type:'spacecraft' }"
              routerLinkActive="active" ariaCurrentWhenActive="page">Spacecraft</a>
          </div>
        </li>
        <li class="nav-item w-100">
          <div>
            <a class="nav-link headerLink text-light" routerLink="/search" [queryParams]="{ type:'spacestation' }"
              routerLinkActive="active" ariaCurrentWhenActive="page">Spacestations</a>
          </div>
        </li>
        <li class="nav-item w-100">
          <div>
            <a class="nav-link headerLink text-light" routerLink="/search" [queryParams]="{ type:'other' }"
              routerLinkActive="active" ariaCurrentWhenActive="page">Other</a>
          </div>
        </li>
        <li class="nav-item w-100">
          <div>
            <a class="nav-link headerLink text-light" routerLink="/about" routerLinkActive="active"
              ariaCurrentWhenActive="page">About</a>
          </div>
        </li>
      </ul>

      <form class="col-md-3 px-3 d-flex w-mg-100" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
          [(ngModel)]="searchInput" name="search">
        <button routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page"
          [queryParams]="{q:searchInput}" class="btn" type="submit"
          style="background:rgb(59, 59, 59); border-color: rgb(0, 0, 0);color:white">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </button>
      </form>
    </div>
  </div>
</nav>