<div class="container text-center text-coloring w-100 header-content">
  <div class="row pt-2">
    <div class="col-lg-9 mx-auto row">
      <div class="col-3 col-lg-3 px-0">
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
          <img src="/assets/logo.png" class="img-fluid logoimage" alt="FlosRocketBricks">
        </a>
      </div>
      <div
        class="col-3 col-lg px-0 mb-1 d-flex justify-content-center align-items-center headerLinkWrapper headerLinkCollections"
        (mouseenter)='setRandomCollection()'>
        <a class="headerLink py-4 text-coloring rounded p-auto no-dec-a" routerLink="/collections"
          routerLinkActive="active" ariaCurrentWhenActive="page">Collections</a>
      </div>
      <div
        class="col-3 col-lg px-0 mb-1 d-flex justify-content-center align-items-center headerLinkWrapper headerLinkRockets"
        (mouseenter)='setRandomRocket()'>
        <a class="headerLink py-4 text-coloring rounded p-auto no-dec-a" routerLink="/search" rel="nofollow"
          [queryParams]="{ type:'rocket' }" routerLinkActive="active" ariaCurrentWhenActive="page">Rockets</a>
      </div>
      <div
        class="col-3 col-lg px-0 mb-1 d-flex justify-content-center align-items-center headerLinkWrapper headerLinkLaunchpads"
        (mouseenter)='setRandomLaunchpad()'>
        <a class="headerLink py-4 text-coloring rounded p-auto no-dec-a" routerLink="/search" rel="nofollow"
          [queryParams]="{ type:'launchpad' }" routerLinkActive="active" ariaCurrentWhenActive="page">Launchpads</a>
      </div>
      <div
        class="col-3 col-lg px-0 mb-1 d-flex justify-content-center align-items-center headerLinkWrapper headerLinkSpacecraft"
        (mouseenter)='setRandomSpacecraft()'>
        <a class="headerLink py-4 text-coloring rounded p-auto no-dec-a" routerLink="/search" rel="nofollow"
          [queryParams]="{ type:'spacecraft' }" routerLinkActive="active" ariaCurrentWhenActive="page">Spacecraft</a>
      </div>
      <div
        class="col-3 col-lg px-0 mb-1 d-flex justify-content-center align-items-center headerLinkWrapper headerLinkSpaceStation"
        (mouseenter)='setRandomSpacestation()'>
        <a class="headerLink py-4 text-coloring rounded p-auto no-dec-a" routerLink="/search" rel="nofollow"
          [queryParams]="{ type:'spacestation' }" routerLinkActive="active" ariaCurrentWhenActive="page">Space
          Stations</a>
      </div>
      <div
        class="col-3 col-lg px-0 mb-1 d-flex justify-content-center align-items-center headerLinkWrapper headerLinkOther"
        (mouseenter)='setRandomOther()'>
        <a class="headerLink py-4 text-coloring rounded p-auto no-dec-a" routerLink="/search" rel="nofollow"
          [queryParams]="{ type:'other' }" routerLinkActive="active" ariaCurrentWhenActive="page">Other</a>
      </div>
      <div
        class="col-3 col-lg px-0 mb-1 d-flex justify-content-center align-items-center headerLinkWrapper headerLinkAbout">
        <a class="headerLink py-4 text-coloring rounded p-auto no-dec-a" routerLink="/about" routerLinkActive="active"
          ariaCurrentWhenActive="page">About</a>
      </div>
    </div>
    <div class="col-lg-3 d-flex justify-content-center align-items-center py-3">
      <div class="input-group m-auto">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchInput"
          name="search" (keydown.enter)="triggerSearch($event)">
        <button id="searchButton" routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page"
          [queryParams]="{q:searchInput}" class="btn headerSearchButton" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>