.header-content
    background-color: var(--bg-hl-color)

.headerLink
    text-align: center
    width: 95%
    height: 90%
    display: flex
    align-items: center
    justify-content: center
    background-color: var(--interact-color)

.headerClick
    text-decoration: none
    text-align: center

.headerLink:hover
    background-color: var(--interact-hl-color)
    transition: background-color 100ms linear

.headerSearch
    display: flex
    justify-content: center

.siteHeader
    background: var(--bg-color)

.logoimage
    max-height: 150px
    object-fit: cover

.headerSearchButton
    color: var(--hl-color-new)
    border-color: rgb(0, 0, 0)
    background-color: var(--interact-color)