.stepButton
  display: flex
  justify-content: center
  align-content: center
  background-color: transparent
  padding: 0
  border: none

.stepButton:hover
  background-color: rgba(0,0,0,0.1)

.stepButton:disabled
  cursor: not-allowed

.canvas
  height: 700px
  width: 100%

