<div class="text-coloring main-content container-fluid pt-4">
  <div class="row mx-4">
  <h1>Privacy Policy</h1>
  <div>
    This website is hosted on Cloudflare Pages. <br>
    When you access the site, Cloudflare processes technical data
    such as IP addresses to deliver the content and ensure security.
    This data is not stored or analyzed by the website operator.

    <h4>Comments</h4>
    When you submit a comment, the name you choose, the comment content,
    and the time of submission are stored and publicly displayed.

    <h4>Local Storage</h4>
    To allow you to edit or delete your own comments and to display
    replies to them, a technical token is stored locally in your browser
    using localStorage. This token is used exclusively for this purpose
    and is not transmitted to third parties.

      <h4>No Tracking</h4>
    This website does not use cookies, analytics, tracking technologies,
    or third-party advertising services.

    <h4>Contact</h4>
    If you have questions regarding data protection, you can contact via any of the listed methods on the about page:
    <a href="/about/">https://flosrocketbricks.com/about/</a>

  </div>
  </div>
</div>
