<div class="text-coloring container pt-4">
    <h1 class="pb-2">
        All Collections
    </h1>
    @for(collection of collections; track collection){
    <div>
        <hr class="my-0 d-inline-block mx-auto divider-hr"/>
        <a routerLink="/collection/{{collection.id}}/{{collection.name.toLowerCase().split(' ').join('-')}}/." class="container no-dec-a">
            <div class="text-coloring row">
                <div class="col-md-auto">
                    <img [src]="collection.cover" class="collection-cover-image">
                </div>
                <div class="col-md-auto">
                    <h2>
                        {{collection.name}}
                    </h2>
                    <span>
                        {{collection.description}}
                    </span>
                </div>
            </div>
        </a>
    </div>
}
</div>
