.question-expand-button
    background-color: var(--bg-hl-color)

.question-expand-button:hover
    color: var(--text-color)

.highlight-text
    color: deepskyblue

.dark-bg
    background-color: var(--bg-hl-color)

.bordered-content
    border-color: var(--hl-color)

.about-element
    max-width: 60rem
    width: 100%
    margin-bottom: 5rem

.about-header-image
    display: block
    margin-left: auto
    margin-right: auto
    width: 100%

.about-header-info-text
    display: flex
    justify-content: space-between

.about-container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-left: 2rem
    margin-right: 2rem

li::marker
  color: var(--text-color)
