<div class="container-fluid bg-dark d-flex justify-content-center" style="min-height:100vh">
    <div class="col-1 d-none d-lg-block" style="background-image: url('https://bricksafe.com/files/SkySaac/website/backgrounds/1.png');background-repeat: no-repeat"></div>
    <div class="col-lg-10">
        <div class="h-100 row mx-auto px-0 bg-dark" style="box-shadow:0px 0px 32px 10px rgba(0,0,0,0.66)">
            <app-header class="px-0" style="background-color: rgba(0,0,0, .2)"></app-header>
                <router-outlet class="p-4 mx-auto"></router-outlet>
            <app-footer class="align-self-end px-0"></app-footer>
        </div>
    </div>
    <div class="col-1 d-none d-lg-block" style="background-image: url('https://bricksafe.com/files/SkySaac/website/backgrounds/2.png');background-repeat: no-repeat"></div>
</div>