<div style="left: 50%; top:50%; transform: translate(-50%, -50%);width: fit-content;position:absolute">
  <span><h2>1:{{ scale }} {{ mocName }} {{ version }}</h2></span>
  <span><h2>{{ fileName }}</h2></span>
  <span><h4>by {{ authors }}</h4></span>
</div>
<div style="left: 50%; bottom:0; transform: translate(-50%, 0);width: fit-content;position:absolute">
  <span>
    <h4>Disclaimer: The instruction viewer is optimized for desktop usage and might not work perfectly with other devices!</h4>
  </span>
</div>
