.brick-default-color
    color: grey

.brick-1-color
    color: #d10000

.brick-2-color
    color: #fc7703

.brick-3-color
    color: #fcd303

.brick-4-color
    color: #7ad100

.brick-5-color
    color: #11fa05

.scroller
    display: flex
    background-color: #08c708
    max-height: 200px
    overflow: auto
    white-space: nowrap

.update-message-container
    border-style: solid
    border-color: red
    border-radius: 25px

.popover-wrapper
    position: relative

.popover-content
    opacity: 0
    visibility: hidden
    position: absolute
    margin-top: 50px
    transform: translate(0, 10px)
    padding: 0.5rem
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26)
    width: auto
    background: var(--bg-hl-color)

.popover-wrapper:hover .popover-content
    z-index: 10
    opacity: 1
    visibility: visible
    transform: translate(0, 10px)
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97)

.popover-content-text
    margin: 5px

.popover-download-wrapper
    position: relative

.popover-download-content
    opacity: 0
    visibility: hidden
    position: absolute
    transform: translate(0, 10px)
    padding: 0.5rem
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26)
    background: var(--bg-hl-color)

.popover-download-wrapper:hover .popover-download-content
    z-index: 10
    opacity: 1
    visibility: visible
    transform: translate(0, 10px)
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97)

.moc-card
    max-width: 12rem
    margin: 10px

.version-expand-button
    background-color: var(--bg-color)

.version-expand-content
    background-color: var(--bg-color)

.main-content
    background-color: var(--bg-color)

.version-expand-button,.version-expand-button:active,.version-expand-button:focus
    color: var(--text-color)
    display: flex
    align-items: center
    border: 0

.dark-bg
    background-color: var(--bg-hl-color)

.bordered-content
    border-color: var(--hl-color)

/* Slideshow */
.slideshow-container
    position: relative
    margin: auto
    overflow: hidden
    padding: 0

.prev, .next
    cursor: pointer
    position: absolute
    text-decoration: none
    top: 50%
    width: auto
    margin-top: -22px
    color: white
    font-weight: bold
    transition: 0.6s ease
    border-radius: 0 3px 3px 0
    user-select: none

.next
    right: 0
    border-radius: 3px 0 0 3px

.prev:hover, .next:hover
    background-color: rgba(0,0,0,0.8)

.numbertext
    color: #f2f2f2
    position: absolute
    bottom: 8px
    width: 100%
    text-align: center

.accbutton:hover
  color: var(--text-color)

.accbutton:active
  color: var(--text-color)
