<div [class.tooltip-wrapper]="isPartList">
  @if (!isPartList) {
    <span><h3 class="m-0">{{ submodelAmountIndicator }}x</h3></span>
  }
  @if (isPartList) {
  <span class="tooltip-content"><b>Ldraw-ID:</b> {{ partId }}<br><b>Name:</b> {{ stepPart?.partName }}
    <br><b>Color:</b> {{ colorName }}</span>
  }
  <div id="canvas-wrapper-{{partIndex}}" [class.canvas-instruction-part-wrapper]="isPartList" [class.canvas-submodel-indicator]="!isPartList">
    <canvas oncontextmenu="return false;" id="canvas-part-{{partIndex}}" style="height:100%; width:100%;touch-action: none"
            class="p-0 m-0 canvas"></canvas>
  </div>
  @if (isPartList) {
  <label><b>{{ this.stepPart?.quantity }}x</b></label>
  }
</div>
