.moc-card-image
    transition: transform .2s

.moc-card-image:hover
    transform: scale(1.1)
    border-radius: 5px

.no-dec-a
    text-decoration: none

.divider-hr
    width: 100%
    background-color: #7c4dff
    height: 2px

:root 
  --bg-color: rgb(33,37,41)
  --bg-hl-color: rgb(26,30,33)
  --interact-color: rgb(26,30,33)
  --interact-hl-color: rgba(0,0,0,0.5)
  --hl-color: #e0e1dd

  --bg-color-new: #0d1b2a
  --bg-hl-color-new: #1b263b
  --interact-color-new: #415a77
  --interact-hl-color-new: #778da9
  --hl-color-new: #e0e1dd
