<div class="container-fluid text-coloring pb-2">
    <div class="row justify-content-center text-center">
        <span>
            <h1>Welcome to FlosRocketBricks</h1>
        </span>
        <span>Spaceflight related MOCs out of building blocks</span>
    </div>
    <div class="row justify-content-center text-center">
        <p>
        <h5>A website with instructions and digital files of space MOCs completely for <strong>free</strong>!
            <br>
            Most of these MOCs can be completely build out of Lego parts.
            <br>
            You can expect me to be adding MOCs every few days :&#041;
        </h5>
    </div>
    <div class="row mt-5 mx-5">
            <span>
                <h3>Newest Mocs</h3>
            </span>
            <div class="card-group">
                <app-card class="moc-card" *ngFor="let moc of newestMocs" [pic]="moc.smallCoverImage" [name]="moc.title"
                    [parts]="moc.parts" [id]="moc.id" [scale]="moc.scale" [followRel]="false">
                </app-card>
            </div>
    </div>
</div>